<div id="fadeBlock">Powered by &nbsp;<b id="fade">Paweł Morawczyński</b></div>

<div id="contactBlock">
  <div style="display: flex; justify-content: center;margin: 0;">
    <div id="hr"></div>
  </div>
  <div id="contact">
    <div id="left">
      <table>
        <tr>
          <td>Author:</td>
          <td><b>Paweł Morawczyński</b></td>
        </tr>
        <tr>
          <td>Contact mail: </td>
          <td><b>example.mail@gmail.com</b></td>
        </tr>
      </table>
      <br>

    </div>
    <div id="right">
      <img class="icon" src="assets/FaceWatch.svg" alt="FaceWatch">
      <img class="icon" src="assets/InstaTag2.svg" alt="InstaTag">
      <img class="icon" src="assets/Birrdy.svg" alt="Birrdy">
      <img class="icon" src="assets/Goolfons.svg" alt="Goolfons">
    </div>
  </div>
</div>
